header {
  @apply flex fixed z-10 top-0 left-0 right-0 md:px-lg px-sm py-3 justify-between items-center glass;
  background: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  img {
    @apply sm:size-11 size-10;
  }
  .icon {
    @apply lg:hidden text-[25px];
  }
  .not-mobile {
    @apply hidden lg:flex justify-end gap-7;
    text-transform: capitalize;
  }
}
