.hero {
  background: url("../../public/gedung-sibia.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @apply flex min-h-screen min-w-full grow items-center justify-center px-sm md:justify-end md:p-0 md:pr-lg;
  .glass-box {
    @apply glass h-fit p-4 md:p-10;
  }
  .buttons {
    @apply mt-6 flex flex-col justify-center gap-4 md:mt-12 md:flex-row;
  }
}
